/*font-family: 'Epilogue', sans-serif;
font-family: 'Space Grotesk', sans-serif;*/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000000;
    font-family: 'Epilogue', sans-serif;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}
ul, li, ul{
    list-style: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.__container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*------------HEADER--------------*/
.header{
    background: #010032;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 23px;
}
.header__nav>ul{
    display: flex;
    gap: 40px;
}
a.header__link{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.shop__header_bag{
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    display: inline-block;
}
.shop__header_icon{
    display: inline-block;
    position: relative;
    height: 10px;
    width: 25px;
}
.shop__header_icon::before{
    content: "";
    background: #F1F2F6;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}
.shop__header_icon::after{
    content: "";
    background: #F1F2F6;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.header__nav>input,
.header__nav>label{
    display: none;
}
label.header__menu{
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
}
.header__nav>span{
    width: 25px;
    height: 2px;
    background-color: #FFFFFF;
    display: none;
}
.header__nav>span::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}
.header__nav>span::after{
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}


@media (max-width: 968px){
    .header__nav>ul li:first-child{
        margin-top: 50px;
    }
    .header__nav{
        padding-top: 12px;
    }
    .header__shop{
        padding-top: 10px;
    }
    .header__wrap{
        align-items: flex-start;
    }
    .header__link{
        font-size: 24px;
        text-transform: uppercase;
    }
    .header__nav>ul{
        display: none;
        flex-direction: column;
        background: #010032;
        width: 100%;
    }
    .header__nav>span{
        display: inline-block;
        position: relative;
    }
    label.header__menu{
        display: inline-block;
    }
    input.header__menu:checked ~ ul{
        display: flex;
        height: 100vh;
    }
}
/*------------HEADER--------------*/




/*------------MAIN----------------*/
.main{
    margin-bottom: 146px;
    position: relative;
    min-height: 100vh;
    background: url(img/main/main.png) no-repeat bottom right, #010032;;
}
.main__wrap{
    max-width: 604px;
    padding: 183px 0 50px 0;
}
.main__title{
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;

    margin-bottom: 34px;
}
.main__text{
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;

    margin-bottom: 23px;
}
a.main__btn{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    display: inline-block;

    margin-bottom: 100px;
    padding: 22px 86px 22px 43px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    position: relative;
}
a.main__btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: -45px;
    background: url(icon/main-mail.png) no-repeat center right;
    width: 100%;
    height: 100%;
}
.main__awwards{
    display: flex;
    gap: 24px;
}
.awwards__img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: rgba(216, 216, 235, 0.2);
}
.awwards__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.awwards__text-title{
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;

    margin-bottom: 7px;
}
.awwards__text-subtitle{
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
}



@media (max-width: 600px){
    .main__title{
        font-size: 57px;
        line-height: 58px;
    }
    .main{
        background-position: center bottom;
    }
}
@media (max-width: 500px){
    .main__wrap{
        padding-top: 150px;
    }
    .main__title{
        font-size: 36px;
    }
    .main__text{
        font-size: 18px;
    }
}
@media (max-width: 400px){
    .main__btn{
        width: 100%;
    }
}
 /*------------MAIN----------------*/




/*--------------ABOUT-------------*/
.section__title{
    margin-bottom: 22px;
}
.section__title-img{
    margin-right: 20px;
}
.section__title-title{
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #4543E8;
}

.achievs{
    margin-bottom: 188px;
}
.achievs__wrap{
    display: flex;
    gap: 99px;
}

.achievs__review{
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.rvw__stars{
    margin-bottom: 23px;
}
.rvw__stars>img:not(:last-child){
    margin-right: 7px;
}
.rvw__comment{
    font-size: 19px;
    line-height: 28px;
    color: #000000;

    margin-bottom: 27px;
}
.rvw__autor{
    display: flex;
    align-items: center;
    gap: 24px;
}
.rvw__img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.rvw__img>img{
    width: 100%;
    height: auto;
}

.rvw__autor-desc{
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.rvw__autor-name{
    font-size: 18px;

    margin-bottom: 7px;
}


.title__h3{
    font-size: 48px;
    line-height: 54px;
    color: #000000;
}

.achiev__title{
    margin-bottom: 74px;
}
.achiev__achievs{
    display: flex;
    gap: 64px;

    margin-bottom: 72px;
}

.achiev__num{
    font-size: 60px;
    line-height: 66px;
    color: #4543E8;

    margin-bottom: 8px;
}
.achiev__text{
    font-size: 21px;
    line-height: 31px;
    color: #000000;
}
.achiev__logos{
    display: flex;
    gap: 40px;
}



@media (max-width: 1200px){
    .achievs__review {
        justify-content: center;
    }
    .achiev__logos {
        gap: 40px;
    }
}


@media (max-width: 1024px){
    .achiev__logos {
        flex-wrap: wrap;
        margin-left: -100%;
        justify-content: center;
    }
}
@media (max-width: 968px){
    .achiev__title {
        font-size: 36px;
    }
    .achiev__num {
        font-size: 45px;
    }
    .achiev__achievs {
        gap: 15px;
    }
}
@media (max-width: 916px){
    .achievs__wrap {
        flex-direction: column-reverse;
    }
    .achiev__title {
        font-size: 42px;
        margin-bottom: 50px;
    }
    .achiev__achievs {
        gap: 0;
        justify-content: space-around;
    }
    .achiev__logos {
        flex-wrap: wrap;
        margin-left: 0;
        justify-content: center;
    }
    .achievs__review {
        max-width: 100%;
        justify-content: baseline;
    }
}
@media (max-width: 398px){
    .achiev__achievs {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}
/*--------------ABOUT-------------*/




/*--------------WORK-------------*/

.title{
    font-size: 60px;
    line-height: 66px;
    color: #000000;
}

.work__wrap{
    position: relative;
    padding-bottom: 204px;
}
.work__title{
    margin-bottom: 26px;
}
.work__subtitle{
    margin-bottom: 78px;
    max-width: 698px;
}

.work__item{
    display: flex;
    flex-direction: column;
}
.work__item>img{
    width: 100%;
    height: auto;
    
    margin-bottom: 32px;
}
.work__item-title{
    font-size: 24px;
    line-height: 30px;
    color: #000000;

    margin-bottom: 23px;
    position: relative;
}
.work__item-title::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url("icon/work/arrow.png") no-repeat right center;
}
.work__item-text{
    font-size: 12px;
    line-height: 28px;
    color: #000000;
}

.work__item-small{
    max-width: 510px;
}
.work__item-midlde{
    max-width: 620px;
}
.work__item-big{
    max-width: 740px;
    margin-bottom: 107px;
    margin-left: auto;
    margin-right: 130px;
}

.work__items-double{
    display: flex;
    gap: 130px;
    margin-bottom: 109px;
}

.work__btn{
    padding: 56px 40px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #4543E8;
    display: inline-block;
    max-width: 160px;

    position: absolute;
    bottom: 200px;
    right: 368px;
}